
.video-title{
margin-top:0px;
font-size: 16px;
font-weight:600;
line-height:24px;                          
margin-bottom: 10px;
}
.thumbnail{
width:100%;

}
.video-info-grid{
display: grid;
grid-template-columns: 50px 1fr;
}
.profile-picture{
width:36px;
border-radius: 50px;
}
.thumbnail-row{
margin-bottom:8px;
position:relative
}
.video-author,
.video-stats{
font-size:14px;
color:rgb(96, 96, 96)
}
.video-author{
margin-bottom: 4px;
}
.video-grid{
  font-family: roboto,arial;
display: grid;
grid-template-columns:1fr 1fr 1fr;
column-gap: 16px;
row-gap: 40px;
}
@media (max-width:750px){
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width:751px) and (max-width:999px){
  .video-grid{
    grid-template-columns:1fr 1fr 1fr;
  }
}
@media (min-width:1000px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.video-time{
  background-color: black;
  font-size: 14px;
  font-weight:bold;
  border-radius: 2px;
  padding:4px;
  color:white;
  position:absolute;
  bottom:8px;
  right:5px;
}
.video-title-link{
  text-decoration: none;
  color:black;
}
